{% extends 'smartfarm/base.html' %}


{% block content %}
<div class="container-fluid text-center
">
    <div class="jumbotron">
        <h1 class="text-success">Welcome to smartfarm endpoints homepage</h1>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3>Athentication endpoints</h3>

            <div class="row">
                <div class="col-md-8">
                    <input id="dcopy1" type="text" class="form-control mt-2" value="http://127.0.0.1:8000/api/auth/register">
                </div>
                <div class="col-md-4">
                    <i id="copy1" class="fas fa-copy ic mt-2"> copy url</i>
                 
                
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <input id="dcopy2" type="text" class="form-control mt-2" value="http://127.0.0.1:8000/api/auth/login">
                </div>
                <div class="col-md-4">
                    <i id="copy2" class="fas fa-copy ic"> copy url</i>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <input id="dcopy3" type="text" class="form-control mt-2" value="http://127.0.0.1:8000/api/auth/logout">
                </div>
                <div class="col-md-4">
                    <i id="copy3" class="fas fa-copy ic mt-2"> copy url</i>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <input id="dcopy4" type="text" class="form-control mt-2" value="http://127.0.0.1:8000/api/auth/user">
                </div>
                <div class="col-md-4">
                    <i id="copy4" class="fas fa-copy ic mt-2"> copy url</i>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <input id="dcopy7" type="text" class="form-control mt-2" value="http://127.0.0.1:8000/api/auth/profile">
                </div>
                <div class="col-md-4">
                    <i id="copy7" class="fas fa-copy ic mt-2"> copy url</i>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <input id="dcopy8" type="text" class="form-control mt-2" value="http://127.0.0.1:8000/api/auth/profile/update">
                </div>
                <div class="col-md-4">
                    <i id="copy8" class="fas fa-copy ic mt-2"> copy url</i>
                </div>
            </div>
 



            <h3>Blog Endpoints</h3>
            <div class="row">
                <div class="col-md-8">
                    <input id="dcopy5" type="text" class="form-control mt-2" value="http://127.0.0.1:8000/api/blog/crop">
                </div>
                <div class="col-md-4">
                    <i id="copy5" class="fas fa-copy ic mt-2"> copy url</i>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <input id="dcopy6" type="text" class="form-control mt-2" value="http://127.0.0.1:8000/api/blog/article">
                </div>
                <div class="col-md-4">
                    <i id="copy6" class="fas fa-copy ic mt-2"> copy url</i>
                </div>

            </div>
            <div class="row">
                <div class="col-md-8">
                    <input id="dcopy9" type="text" class="form-control mt-2" value="http://127.0.0.1:8000/api/blog/article/update">
                </div>
                <div class="col-md-4">
                    <i id="copy9" class="fas fa-copy ic mt-2"> copy url</i>
                </div>
                
            </div>
     
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock %}